<!DOCTYPE html>
<html>
  <head>
    <title>Recommend Board Games</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="app">
    <%= react_component("App", {
                                  current_user: {email: current_user.email, loggedIn: !!current_user.oauth_token},
                                  ratings: Hash[(@ratings.map { |r| [r.game_id, r.rating.to_f] })]
                              }) %>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
